{%extends "hr/base.html"%}
{%block main_block%}

<br><br>
<div class="">
    <h1>Category List</h1>
    <hr class="border-3 w-25"><br>
    <form action="" method="post">
        {%csrf_token%}
        <div class="d-flex">
            <input type="text" name="name" class="form-control w-50 border-3" id="name" placeholder="Add a Category...">
            <button type="submit" class="btn btn-dark mx-3 px-4">Add</button>
        </div>
    </form>
</div>
<div class="mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Category</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
            {%for c in data%}
            <tr>
                <td class="">{{c.name}}</td>
                <td class="text-center"><a href="{%url 'cat_delete' c.id %}" class="text-danger "><i class="fa-solid fa-trash"></i></a></i></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock%}