{%extends "hr/base.html"%}
{%block main_block%}

{%if form.errors%}
{{form.errors}}
{%endif%}

<div class="container d-flex justify-content-around">
    <form action="" method="post" class="bg-white m-3 p-2 w-75 rounded-3" enctype="multipart/form-data">
        {%csrf_token%}
        <p class="fw-bold fs-4 ">Update Job</p>
        <hr class="mb-5 w-25 border-4">
        <div class=" row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 "><label for="">Title :</label><input type="text" name="title" class="form-control" value="{{form.title.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label for="">Category :</label>
                {{form.category}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Company :</label><input type="text" name="company" class="form-control"  value="{{form.company.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Experience :</label><input type="text" name="experience" class="form-control"  value="{{form.experience.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Salary :</label><input type="text" name="salary" class="form-control" value="{{form.salary.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Vaccancies :</label><input type="text" name="vaccancies" class="form-control" value="{{form.vaccancies.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Poster :</label><input type="file" name="poster" class="form-control" value="{{form.poster.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Contact :</label><input type="number" name="contact" class="form-control"  value="{{form.contact.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Qualification :</label><input type="text" name="qualification" class="form-control" value="{{form.qualification.value}}"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Last Date :</label> {{form.last_date}} </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Description :</label>
                <textarea class="form-control" name="description" value="">{{form.description.value}}</textarea>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Status :</label> {{form.status}}</div>

            <div class="text-center">
                <button class="btn btn-dark mt-4 mb-4 w-50">Update Job</button>
                <br>
            </div>


        </div>
    </form>
</div>


{%endblock%}