{%extends "jobseeker/base.html"%}
{%block mainblock%}
{% load static %}
<style>
        .profile-head {
                transform: translateY(5rem)
        }

        .cover {
                background-image: url(https://source.unsplash.com/random/?nature,space);
                object-fit:cover;
                background-repeat: no-repeat
        }

        body {
                                background-image: url(https://source.unsplash.com/random/?night);

                min-height: 100vh;
                overflow-x: hidden;
        }
</style>
<div class="container">

        <div class="row py-5 px-4">
                <div class="col-md-5 mx-auto"> <!-- Profile widget -->
                        <div class="bg-white shadow rounded overflow-hidden">
                                <div class="px-4 pt-0 pb-4 cover">
                                        <div class="media align-items-end profile-head">

                                                {%if request.user.profile.profile_pic%}
                                                <div class="profile "><img
                                                                src="{{request.user.profile.profile_pic.url}}" alt="..."
                                                                style="width: 40%;height: fit-content;object-fit:cover;"
                                                                class="rounded mb-2 img-thumbnail">
                                                </div>
                                                {%else%}
                                                <div class="profile mr-3"><img
                                                                src="{%static 'jobseeker/images/user.png'%}" alt="..."
                                                                style="width: 30%;height: fit-content;object-fit:cover;"
                                                                class="rounded mb-2 img-thumbnail">
                                                </div>
                                                {%endif%}
                                        </div>
                                </div>
                                <div class="bg-light p-4 d-flex justify-content-end text-center">
                                        <ul class="list-inline mb-0">
                                                <div class="media-body mb-5 text-dark">
                                                        <h4 class="mt-0 mb-5 text-uppercase fw-bolder">{{data.user}}
                                                        </h4>

                                                </div>
                                                <li class="list-inline-item">
                                                        {%if data.resume %}
                                                        <a href="{{data.resume.url}}" target="_blank"
                                                                class="btn btn-outline-dark btn-sm btn-block">Resume</a>
                                                        {%else%}
                                                        <a href="{%url 'jobseeker_editprofile' request.user.profile.id %}"
                                                                class="btn btn-outline-dark btn-sm btn-block">Upload
                                                                Resume</a>
                                                        {%endif%}
                                                        <a href="{%url 'jobseeker_editprofile' request.user.profile.id %}"
                                                                class="btn btn-outline-dark btn-sm btn-block">Edit
                                                                Profile</a>
                                                </li>

                                        </ul>
                                </div>
                                <div class="px-4 py-3">
                                                <div class="p-4 rounded shadow-sm bg-light">
                                                        <div class="row">
                                                                <div class="col-6">
                                                                        <p>Qualification : {{data.qualification}}</p>
                                                                        <p>Skills : {{data.skills}}</p>
                                                                        <p>Age : {{data.age}}</p>
                                                                </div>
                                                                <div class="col-6">
                                                                        <p>Gender : {{data.gender}}</p>
                                                                        <p>Address : {{data.address}}</p>
                                                                        <p>Phone : {{data.phone}}</p>
                                                                </div>

                                                        </div>
                                                </div>
                                </div>

                        </div>
                </div>
        </div>



        <!-- <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-ms-12 text-end">
                        <img src="{{data.profile_pic.url}}" class="rounded-3"
                                style="width: 300px;height: fit-content;max-height: 100%; object-fit: cover;">
                </div>
                <div class="col-lg-6 col-md-6 col-ms-12">
                        <img src="{{data.resume.url}}" class="border border-2"
                                style="width: 300px;height: fit-content;max-height: 100%; ">
                </div>
                <div class="col-lg-12 col-md-12 col-ms-12 d-flex justify-content-around shadow-lg mt-5 p-2 text-center" style="width: 40%;">
                        <div class="col-lg-6 col-md-6 col-ms-12 d-flex justify-content-end px-5">
                                <div class="text-start">
                                        <p>Qualification : {{data.qualification}}</p>
                                        <p>Skills : {{data.skills}}</p>
                                        <p>Age : {{data.age}}</p>
                                        <p>Gender : {{data.gender}}</p>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-ms-12 d-flex justify-content-start">
                                <div class="text-start">
                                        <p>Experience : {{data.experience}}</p>
                                        <p>Address : {{data.address}}</p>
                                        <p>Phone : {{data.phone}}</p>
                                </div>
                        </div>
                        
                </div>
                <div class="d-flex justify-content-around mt-2">
                        <a href="{%url 'jobseeker_editprofile' request.user.profile.id %}"
                                class="text-light text-decoration-none p-2 fs-6 btn btn-dark text-start">Edit Profile</a>
                </div>
                

        </div> -->
</div>

{%endblock%}